@page "/"
@using ClassExampleController.Abstractions

@rendermode InteractiveServer

@inject IOperationsHandler OperationsHandler

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<br />

<label>@LabelText </label>

<br />

<InputText @bind-Value=@InputTextValue />
<br />
<button @onclick="UpdateLabel">Update Label</button>
<br />

<InputText @bind-Value=@Input1 />

<br />

<InputText @bind-Value=@Input2 />

<br />

<button @onclick="Sum">Sum Elements</button>

<button @onclick="Mult">Mult Elements</button>

<br />

<label>@Result</label>

<br />

@code{
    private string LabelText = "Initial Text";
    private string InputTextValue = string.Empty;
    private string Input1 = string.Empty;
    private string Input2 = string.Empty;
    private int Result = 0;

    private void Sum()
    {
        var num1 = int.Parse(this.Input1);
        var num2 = int.Parse(this.Input2);
        this.Result = OperationsHandler.ExecuteOperation(num1, num2, ClassExampleController.Operations.Add);
    }

    private void Mult()
    {
        var num1 = int.Parse(this.Input1);
        var num2 = int.Parse(this.Input2);
        this.Result = OperationsHandler.ExecuteOperation(num1, num2, ClassExampleController.Operations.Mult);
    }

    private void UpdateLabel()
    {
        LabelText = InputTextValue;
        InputTextValue = string.Empty;
    }
}